{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
     <div class="col-md-5 col-md-offset-4">
     <br><br> <br><br>
<h1 style="position: relative;text-align: center">{% trans "Sign Out" %}</h1>

<p style="position: relative;text-align: center">{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
    <p style="position: relative;text-align: center"><button   class="btn btn-default" type="submit">{% trans 'Sign Out' %}</button></p>
</form>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     </div>
{% endblock %}