<br>
<br> <br><br> <br>

{%  extends 'base.html' %}
<br> <br>
{% load staticfiles %}
<br> <br>
{% block content %}>

    <h2 style="text-align: center">All India Pre Medical Test </h2>
<br> <br><br>
<p style="margin-left: 40px;margin-right: 30px">
The All India Pre-Medical test/ Pre-Dental Entrance Test (AIPMT now replaced by NEET-UG)[1] was an annual medical entrance examination in India.[2] The exam was conducted by the Central Board of Secondary Education (CBSE), Delhi for admission to MBBS and BDS courses in several medical colleges across the country. 15% of the total seats in all medical and dental colleges run by the Union of India, state governments, municipal or other local authorities in India, except in the states of Andhra Pradesh, Telangana and Jammu and Kashmir, were reserved for candidates who qualified this examination.
</p>
<br><br>
<h3 style="margin-right: 30px;margin-left: 40px">Conduct</h3>
    <p style="margin-left: 40px;margin-right: 30px" > The primary aim of this test, which was standardized all over India, was to make medical education available on an equitable basis to all regions of the nation and to foster inter-regional exchange. Until 2006, the AIPMT was unusual as it was one of the few all-India competitive examinations (along with the examinations for the defense services) based completely on merit and without any reservations. However, from 2006, under pressure from the Human Resources ministry headed by Arjun Singh, reservation for OBC has also been introduced in AIPMT.
    Every Year AIPMT was conducted on first Sunday in the month of May.In 2016, AIPMT/NEET Phase-1 was conducted on 1 May 2016 and NEET Phase-2 was conducted on 24 July 2016.</p>
<br><br>
<h3 style="margin-right: 30px;margin-left: 40px">Current exam pattern</h3>
    <p style="margin-left: 40px;margin-right: 30px" >The exam was conducted in a single stage that usually occurred on the first Sunday of May.[5] The examination consisted of one paper containing 180 objective type questions from Physics, Chemistry and Biology (Botany & Zoology), having 45 questions from each subject. The exam duration was 3 hours. Each question carried 4 marks. For each incorrect response, one mark used to be deducted from the total score. However, no deduction from the total score was made if no response was indicated for an item. Indication of more than one answer for a question was deemed an incorrect response and negatively marked.</p>
<br><br>
    <h3 style="margin-right: 30px;margin-left: 40px">AIPMT Exam Dates (Replaced By NEET)
<br><br>
    <ol>
        <li>NEET 2017 Application Form available-31st January 2017</li><br>
        <li>Last date to submit the application form (without late fee)	-1st March 2017</li><br>
        <li>Admit Card Release Date	15th April 2017</li><br>
        <li>NEET 2017 Exam Date	7th May 2017</li><br>
        <li>NEET 2017 Exam Date	7th May 2017</li><br>
        <li>NEET Counselling	After Result Announcement
</li>
    </ol>


</h3>
    <br><br><br>

    <h3 style="margin-right: 30px;margin-left: 40px">Eligibility Criteria & Qualification
</h3><br><br>
    <ol>
    <li>Candidates must be an Indian citizen.</li>
    <li>Candidates have to complete the age of 17 years or will complete the age on or before 31st December of the year of admission.</li>
    <li>Candidates may attempt NEET exam only 3 times until cross the maximum age limit as 25 years for general and 30 years for reserved categories. The attempt counting will start from the year 2017 for all the candidates. </li>
    <li>The upper age limit for the candidates who belong to Gen (UR) category is 25 years as on 31st December of the year of the examination. There is 5 years relaxation for the Scheduled Castes (SC) / Scheduled Tribes (ST) /Other Backward Classes (OBC) category.</li>
    <li>Candidates who belong to the states of Andhra Pradesh, Telangana and J & K are not eligible for the 15% all India quota seats. Candidates of these states can appear in AIPMT only to get admission in AFMC, Pune.</li>
    <li>Overseas citizens of India (OCI) candidates can also apply for the AIPMT.</li>

    </ol>

        <br><br><br>

    <h3 style="margin-right: 30px;margin-left: 40px">Educational Qualification:

</h3><br><br>

    <ol>
    <li>Appearing/Passed candidates of class 12th or equivalent exam are eligible to appear in the AIPMT.</li>
    <li>Candidates have to appear or complete their 12th with PCB as a main subjects or any other elective subject with English at a level not less than the core subject for English.</li>
    <li>Candidates have to obtain 50% marks in PCB taken together for General Category, 40% for SC/ST/OBC, 45% marks for Gen-PH and 40% marks for SC-PH/ST-PH/OBC-PH.</li>
    <li>Candidates who can appear or qualify three years’ degree course (BSc) from a recognized University with Physics, Chemistry and Biology/Bio-technology including as practical subjects they can also apply.</li>
    </ol>

<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>

{% endblock %}