<br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Banking Awareness Articles </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/2017/04/82nd-establishment-day-of-rbi-01st.html">82nd Establishment Day of RBI- 01st April 2017</a></li>

<br>
    <li><a href="http://www.bankersadda.com/2017/03/branches-of-sbbj-sbh-sbm-sbp-and-sbt-to.html">Branches of SBBJ, SBH, SBM, SBP and SBT to operate as branches of SBI from April 1, 2017</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/2017/02/what-is-budget.html">What is Budget?</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/2017/03/takeaways-from-demonetization-long-term.html">Takeaways from Demonetization: Long Term Goals</a></li>

<br>
    <li><a href="http://www.bankersadda.com/2017/02/most-important-abbreviation-from-union.html">Most Important Abbreviation From Union Budget 2017-18<br>


<br>
    <li><a href="http://www.bankersadda.com/2016/12/pradhan-mantri-garib-kalyan-yojana.html">pradhan-mantri-garib-kalyan-yojana.</a></li>









    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}