br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Current Affairs </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/2017/08/current-affairs-now-in-less-than-100.html">Current Affairs now in Less than 100 words!</a></li>

<br>
    <li><a href="http://www.bankersadda.com/2017/03/glorious-end-to-political-warfare.html">glorious-end-to-political-warfare</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/2017/03/list-of-winners-of-bcci-annual-award.html">list-of-winners-of-bcci-annual-award</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/2017/03/sbi-launches-work-from-home-facility.html">sbi-launches-work-from-home-facility</a></li>
<br>
    <li><a href="http://www.bankersadda.com/2017/02/isro-news.html">ISRO makes history by successfully launching 104 satellites<br>


<br>
    <li><a href="http://www.bankersadda.com/2016/12/pradhan-mantri-garib-kalyan-yojana.html">pradhan-mantri-garib-kalyan-yojana.</a></li>









    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}