<br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Current Affairs 2016 : Daily Current Affairs </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/2016/01/daily-gk-update-1st-january-2016.html">Current Affairs 2016 : January.</a></li>

<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-february.html">Current Affairs February 2016 for Competitive Exams</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-march.html">Current Affairs March 2016</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-april.html">Current Affairs April 2016</a></li>
<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-may.html">Current Affairs: May 2016
<br>


<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-june.html">Current Affairs: June 2016
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-july.html">Current Affairs: July 2016
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-august.html">Current Affairs: August 2016
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-september.html">Current Affairs: September 2016
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-october.html">Current Affairs: October 2016
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-november.html">Current Affairs: November 2016
</a></li>









    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}