<br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Current Affairs 2015 : Daily Current Affairs </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/p/daily-gk-updates_64.html">Current Affairs 2015 : January.</a></li>

<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates_3.html">Current Affairs February 2015 for Competitive Exams</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-march-2015.html">Current Affairs March 2015</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-april-2015.html">Current Affairs April 2015</a></li>
<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-update-may-2015.html">Current Affairs: May 2015
<br>


<br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-june-2015.html">Current Affairs: June 2015
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-july-2015.html">Current Affairs: July 2015
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-august-2015.html">Current Affairs: August 2015
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-september-2015.html">Current Affairs: September 2015
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-october-2015.html">Current Affairs: October 2015
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/daily-gk-updates-november-2015.html">Current Affairs: November 2015
</a></li>









    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}