<br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Current Affairs 2017 : Daily Current Affairs </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/p/blog-page_41.html">Current Affairs 2017 : January.</a></li>

<br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-february.html">Current Affairs February 2017 for Competitive Exams</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-march-2017.html">Current Affairs March 2017</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-april-2017.html">Current Affairs April 2017</a></li>
<br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-may-2017.html">Current Affairs: May 2017
<br>


<br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-june-2017.html">Current Affairs: June 2017
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-july-2017.html">Current Affairs: July 2017
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-august-2017.html">Current Affairs: August 2017
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-september-2017.html">Current Affairs: September 2017
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-october-2017.html">Current Affairs: October 2017
</a></li>

    <br>
    <li><a href="http://www.bankersadda.com/p/current-affairs-november-2017.html">Current Affairs: November 2017
</a></li>









    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}