<br>
<br> <br><br> <br>

{%  extends 'base.html' %}
<br> <br>
{% load staticfiles %}
<br> <br>
{% block content %}

<h2 style="text-align: center">About IBPS </h2>
<br> <br><br>
 <p style="margin-left: 40px"> This is the exam held for recruitment to nationalized banks in India for jobs of Probationary Officer(PO). Find information regarding paper pattern, eligibility, etc. and crack it with the right coaching from TESTfunda.
The Institute of Banking Personnel Selection (IBPS) conducts a Common Written Examination (CWE) on behalf of 21 nationalized banks (see list below) as a pre-requisite for selection of Probationary Officers.</p>

<p style="margin-left: 40px">BPS is only the body conducting the written test. The vacancies in individual banks as well as the group discussion and personal interview process are managed by each participating bank separately.</p>
<br><br><br>
<h3 style="margin-left: 40px;">IBPS Clerk Qualification in 2017</h3>
 <p style="margin-left: 40px;margin-right: 30px">The IBPS Clerk (VII) 2017 Exam will be conducted to fill clerk jobs in 19 public sector banks across India.The following are IBPS clerk exams eligibility conditions & all those candidates satisfying these can submit their applications: </p>

<ol>
<li>Agelimit: 20 – 28 years (+5yrs for sc/st, +3yrs for obc, +10yrs for disabled)</li>
<li>Education: Should have completed graduation (any degree)</li>
<li>Language: Proficiency (able to read /write/ speak) in official language of the state that you are applying for, is required.</li>

<li>Computer Knowledge: Must have studied computer science/ IT as subject in high school or college.If not, then you NEED to posses atleast a certificate/ diploma in computer operations/ language from a training institute.</li>
<li>The IBPS clerk 2017 (VI) notification is expected in the month October 2017</li>
</ol>
<br><br><br>
    <h3 style="margin-left: 40px">IBPS PO Qualification in 2017</h3>
<p style="margin-left: 40px;margin-right: 30px">To apply for probationary officer (PO) post in 2017-18, one needs to qualify in IBPS PO (VII) 2017 CWE which is to be happen this year.
 The IBPS PO exams eligibility conditions are,</p>

    <ol>
    <li>Agelimit for PO: 20 – 30 years (relaxation in maximum age is same just like in clerk)</li>
    <li>Education: You must have passed in degree (any discipline)</li>
    <li>The IBPS PO 2017 (IV) notification could be released in August 2017.</li>
    </ol>
<br><br><br>


    <h3 style="margin-left: 40px">IBPS Specialist Officers Qualification in 2017</h3>


<p style="margin-left: 40px;margin-right: 30px">If you are a professional degree holder such as BE/ Btech/ MBA (Finance/Marketing/ HR) CA/ LLB then IBPS SO exam for specialist officer jobs in govt banks will be the right choice.
The Specialist Officer positions available in PSBs are IT Officer, Agricultural Field Officer, HR Officer, Marketing Officer, Law Officer & Rajbhasha Adhikari.</p>


<ol>


<li>Age Limit (for all posts): 20 – 30 years (+5yrs for sc/st, +3yrs for obc, +10yrs for disabled)</li>
<li>IT Officer:  4 year BE/ Btech degree OR PG in Computer Science/ Computer Applications/ Information Technology/ Electronics/ Electronics & Telecommunications/ Electronics & Communication/ Electronics & Instrumentation.
 </li>
<li>Agricultural Field Officer: 4 year degree in Agriculture/ Horticulture/ Animal Husbandry/ Veterinary Science/ Dairy Science/ Fishery Science/ Pisciculture/ Agri. Marketing & Cooperation/ Co-operation & Banking/ Agro-Forestry/Forestry/ Agricultural Biotechnology/ Food Science/ Agriculture Business Management/ Food Technology/ Dairy Technology/ Agricultural Engineering.
 </li>
<li>Rajbhasha Adhikari: PG degree in Hindi Or Sanskrit.
</li>
<li>HR/ Personnel Officer: Any UG degree & Full time PG (degree/ diploma) in Personnel Management / Industrial Relations/ HR/ HRD/ Social Work / Labour Law.
 </li>



</ol>


<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}

