br>
<br> <br><br> <br>

{%  extends 'base.html' %}
<br> <br>
{% load staticfiles %}
<br> <br>
{% block content %}>

<h2 style="text-align: center">Indian Civil Services </h2>
    <br> <br><br>
    <p style="margin-left: 40px;margin-right: 30px">The Indian Civil Service is said to be the backbone of Indian governance. The Civil Servants attract great respect from the masses as they carry huge responsibilities to run the country. So no wonder, a majority of youngsters and their parents crave to enter into these prestigious services. The very fact that a big share of every year's top posts in the Civil Services Exam are bagged by professionals from various streams, shows that India's best brains vie for entry into the dream jobs like IAS/IFS </p>

    <br><br>
    <hr>
    <br>
<h3 style="margin-right: 30px;margin-left: 40px">About IAS</h3>

    <p style="margin-left: 40px;margin-right: 30px">The Indian Administrative Service is the premier administrative civil service of the Government of India. HIerarchy-wise, IAS is the highest administrative post among the 24 services like IPS, IFS etc.
    <br><br>
    IAS is the permanent bureaucracy in India and forms a part of the executive branch. It is one of the three All India Services, its cadre can be employed by both the Union Government, the State Governments and public-sector undertakings.

    </p>
    <br><br>
    <hr>

    <h3 style="margin-right: 30px;margin-left: 40px">Eligibility Criteria</h3>
 <br> <br>
    <ol>
            <p style="margin-left: 40px;margin-right: 30px">Candidate must be a citizen of India.
            candidate must be a citizen of Nepal or a subject of Bhutan Candidate must be a Tibetan Refugee who came to India before 1st January 1962 to be settled permanently in India.Candidate must be person of Indian Origin who has migrated from Ethiopia, Kenya, Malawi, Myanmar, Pakistan, Sri Lanka, Tanzania, Uganda, Vietnam, Zaire, or Zambia with an intention of permanently settling in India


</p>


    </ol>









    <br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}