<br>
<br>

{%  extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<marquee behavior="scroll" direction="left"><b>The SSC has recently released a calendar for the year 2017-2018, with complete list of exams and their corresponding dates. This List of SSC Exam Dates is UPDATED!! </b></marquee>

<h2 style="text-align: center">Motivational Articles </h2>
    <br>


    <h3 style="margin-left: 40px"><li><a href="http://www.bankersadda.com/2017/07/success-is-result-of-perfection-hard.html">Success is a result of perfection, hard work and learning from failures.</a></li>

<br>
    <li><a href="http://www.bankersadda.com/2017/05/bob-po-2017-exam-can-be-your-gateway-to.html">BOB PO 2017 Exam can be your Gateway to Success!</a></li>


    <br>
    <li><a href="http://www.bankersadda.com/2017/05/be-ambitious-with-your-goal-not-deadline.html">Be ambitious with your goal, not the Deadline</a></li>

     <br>
    <li><a href="http://www.bankersadda.com/2017/05/gear-up-for-niacl-assistant-phase-ii.html">Gear Up for NIACL Assistant Phase-II 2017</a></li>
<br>
    <li><a href="http://www.bankersadda.com/2017/05/failure-leads-to-new-beginning.html">FAILURE Leads To New Beginning
<br>


<br>
    <li><a href="http://www.bankersadda.com/2017/05/what-next-after-sbi-po-prelims.html">What Next After SBI PO Prelims???
</a></li>



    </h3>
</ul>



<br> <br><br> <br><br><br> <br><br> <br><br> <br><br> <br><br><br> <br><br> <br>


{% endblock %}